body {
  min-width: 850px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main {
  height: calc(100% - 54px);
}

/* 
  공통
*/
/* Annotator 로고 색상 */
h6.MuiTypography-root {
  color: #0e1116;
}
#nav {
  border-bottom: 1px solid #20252c !important;
  padding: 10px 32px 10px 16px !important;
}
#nav .nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#nav .navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}
/* 네비게이션바 링크 */
#nav .nav-link {
  font-size: 14px;
  color: #0e1116;
}
/* 왼쪽 메뉴  */
#nav .navbar-nav .nav-link {
  padding: 6px;
}
#nav .navbar-nav .nav-link:hover {
  border-radius: 6px;
  background-color: #e7ecf0;
  transition: background-color 0.2s ease-in-out;
}
/* 오른쪽 메뉴 */
#nav .nav-item.dropstart {
  display: flex;
  align-items: center;
  margin-left: auto;
}
#nav .nav-link .user-info {
  line-height: 1 !important;
}
/* 현재 메뉴 */
#nav .nav-link.active {
  font-weight: 500;
}

/* 
  Datasets 페이지
*/
#datasets {
  display: flex;
  flex-direction: column;
  margin: 32px 18%;
  padding-bottom: 54px;;
}
/* 데이터셋 리스트 */
#datasets .dataset-list {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  gap: 7px;
}
/* 데이터셋 카드 공통 */
#datasets .dataset-list .dataset-card {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(136, 146, 157, 0.15) 0px 3px 6px 0px;
  border-radius: 6px;
  height: 175px !important;
  flex-shrink: 1;
  gap: 16px;
  padding: 10px;
}

/* 데이터셋 카드 각 부분 공통 */
#datasets .dataset-list .dataset-card > div {
  flex: none;
  font-size: 14px;
}

/* 데이셋 카드 그림 부분 (1) */
#datasets .dataset-list .dataset-card > div:nth-child(1) {
  flex: 0 0;
  flex-basis: 115px;
}
/* 데이터셋 카드 그림 링크 */
#datasets .dataset-list .dataset-card > div:nth-child(1) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: black;
}
#datasets .dataset-list .dataset-card > div:nth-child(1) > a img {
  object-fit: contain;
}
#datasets .dataset-list .dataset-card > div:nth-child(1) > a img.no-image {
  box-shadow: rgba(136, 146, 157, 0.35) 0px 2px 5px 0px;
}

/* 데이터셋 정보 부분 (2) */
#datasets .dataset-list .dataset-card > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  gap: 16px;
}
/* 데이터셋 타이틀, 상태정보 */
#datasets .dataset-list .dataset-card > div:nth-child(2) .meta-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 35%;
  flex-shrink: 0;
  min-width: 165px;
}
#datasets .dataset-list .dataset-card > div:nth-child(2) .meta-data-title {
  display: flex;
  margin-top: 12px;
  height: 64px;
}
#datasets .dataset-list .dataset-card > div:nth-child(2) .meta-data-body {
  margin-bottom: 3px;
}
#datasets .dataset-list .dataset-card > div:nth-child(2) .meta-data-body * {
  font-size: 13px !important;
  margin: 0;
}
#datasets .dataset-list .dataset-card > div:nth-child(2) .meta-data-body > *:nth-child(2n) {
  display: flex;
  margin-top: -3px;
}

#datasets .dataset-list .dataset-card > div:nth-child(2) .meta-data-status {
  flex: 1 1;
  display: flex;
  justify-content: center;
}

/* 데이터셋 설정 부분 (3) */
#datasets .dataset-list .dataset-card > div:nth-child(3) {
  flex: 0 0;
  flex-basis: 32px;
}
/* 데이터셋 오른쪽 메뉴 아이콘 */
#datasets .dataset-list .dataset-card > div:nth-child(3) .dataset-menu {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
}
#datasets
  .dataset-list
  .dataset-card
  > div:nth-child(3)
  .dataset-menu
  > button {
  height: 100%;
  width: 100%;
  min-width: 0;
}

/* 
  Models 페이지
*/
