* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 100%;
  height: 64px;
}

body {
  overflow-y: scroll;
}

/* Not necessary since scrollbar is visible 
on all page by above property but not removed just in case */
.models-page {
  overflow-y: scroll;
}

/* 임시로 사용하는 css global variable
  MUI Theme Provider를 사용으로 전환하면 삭제 */
:root {
  --border-color: #d0d7de;
}
